/* Header.css */

.icons {
    display: flex;
    align-items: center;
}

.cart-icon-container {
    position: relative;
    display: inline-block;
}

.cart-item-count {
    position: absolute;
    top: -9px;
    right: -9px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 0.7rem;
    font-weight: bold;
}

.search-container {
    position: relative;
    width: 300px;
    /* Adjust width as needed */
}

.search-input {
    padding-right: 2.5rem;
    /* Space for the icon */
    height: 38px;
    /* Decrease height */
    /* border-radius: 20px; */
    /* Rounded corners for a modern look */
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    /* Icon color */
    font-size: 1.2rem;
    /* Adjust icon size */
}

.logo {
    max-height: 50px;
    /* Adjust height as needed */
    /* Optionally, you can add more styles like margin or padding here */
}

.navbar {
    padding: 10px 0;
}